$primary-dark: #fdcb6e;
$primary-light: #ffeaa7;
$secondary-dark: #b2bec3;
$secondary-light: #dfe6e9;
$succes-dark: #00b894;
$succes-light: #55efc4;
$danger-dark: #d63031;
$danger-light: #ff7675;
$accent-dark:rgb(75, 53, 19);
$accent-light: rgb(167, 127, 68);